openpyxl~=3.0.10
scipy~=1.9.0
librosa~=0.9.2
numpy~=1.22.3
pandas~=1.4.3
pydub~=0.23.1
matplotlib~=3.5.2

a1=[]
a2=[]
b1=[]
b2=[]

a1_peer=[]
a2_peer=[]
b1_peer=[]
b2_peer=[]

a1_selected=[]
a2_selected=[]
b1_selected=[]
b2_selected=[]

a1_selected_peer=[]
a2_selected_peer=[]
b1_selected_peer=[]
b2_selected_peer=[]